Repository effectfully/tiny-lang, pull requests merged in 2019-09, with the labels that each got.

#21 Added 'F4913'
  common/TinyLang/Prelude.hs
  field/TinyLang/Field/F4913.hs
  test/Field/Textual.hs
  tiny-lang.cabal
Labels: Test

#22 [Textual] Added 'TextField'
  common/TinyLang/ParseUtils.hs
  field/TinyLang/Field/Core.hs
  field/TinyLang/Field/F17.hs
  field/TinyLang/Field/F4913.hs
  field/TinyLang/Field/Generator.hs
  field/TinyLang/Field/ParsableField.hs
  field/TinyLang/Field/Parser.hs
  field/TinyLang/Field/Printer.hs
  library/Data/Field.hs
  test/Field/Textual.hs
  tiny-lang.cabal
Labels: Refactoring, Textual representation

#23 [Refac] Using 'Supply' in parsing
  common/TinyLang/ParseUtils.hs
  field/TinyLang/Field/Parser.hs
  test/Field/Textual.hs
Labels: Refactoring, Textual representation

#24 [Textual] [Refac] Generalized the parser
  field/TinyLang/Field/Parser.hs
Labels: Refactoring, Textual representation

#25 Added tests for field axioms
  test/Field/FieldAxioms.hs
Labels: Field, Test

#26 [Enhauncement] Added 'for' loops
  field/TinyLang/Field/Core.hs
  field/TinyLang/Field/Evaluator.hs
  field/TinyLang/Field/Generator.hs
  field/TinyLang/Field/Parser.hs
  field/TinyLang/Field/Printer.hs
  test/Field/Textual.hs
  test/Field/golden/forLoops.golden
  test/Main.hs
  tiny-lang.cabal
Labels: Refactoring, Textual representation, enhancement

#27 [Name] Added renaming
  common/TinyLang/Prelude.hs
  common/TinyLang/Var.hs
  field/TinyLang/Field/Core.hs
  field/TinyLang/Field/Parser.hs
  field/TinyLang/Field/Rename.hs
  test/Field/Textual.hs
  test/Field/golden/forLoops.golden
  tiny-lang.cabal
Labels: Name handling, enhancement

#28 [AST] Allowed any boolean expressions in assertions
  field/TinyLang/Field/Core.hs
  field/TinyLang/Field/Evaluator.hs
  field/TinyLang/Field/Generator.hs
  field/TinyLang/Field/Parser.hs
  field/TinyLang/Field/Printer.hs
  field/TinyLang/Field/Rename.hs
  test/Field/Textual.hs
  test/Field/golden/forLoops.golden
Labels: AST, Refactoring, Test
